* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Arial", sans-serif;
}

html,
body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #262626;
  color: #fff;
}

a {
  color: #fff;
}

#app {
  padding: 3rem 0 0;
  width: 800px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title p {
  color: #c8c8c8;
  margin: 0.25rem 0;
}

.btn {
  cursor: pointer;
  border-radius: 0.35rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
}

.btn-primary {
  background: #f5ecea;
  border: 1px solid #f5ecea;
}

.btn-primary:hover {
  background: #e1d7d5;
}

main .description {
  margin: 1rem 0 1.5rem;
  line-height: 1.65;
  color: #d1d1d1;
}

.shortcut-list {
  list-style-position: inside;
}

.shortcut-list li + li {
  margin-top: 0.15rem;
}

.badge {
  font-size: 0.75rem;
  background: red;
  border-radius: 0.25rem;
  padding: 0.25rem 0.35rem;
  background: #353333;
}

footer {
  border-top: 1px solid #535353;
  padding: 1rem 0;
  width: 100%;
  font-size: 0.875rem;
  color: #c8c8c8;
  text-align: center;
}

#canvas {
  border-radius: 0.5rem;
}
